# Compiled class file
4emLinha/*.class

# Log file
4emLinha/*.log

# BlueJ files
4emLinha/*.ctxt

# Mobile Tools for Java (J2ME)
4emLinha/.mtj.tmp/

# Package Files #
4emLinha/*.jar
4emLinha/*.war
4emLinha/*.nar
4emLinha/*.ear
4emLinha/*.zip
4emLinha/*.tar.gz
4emLinha/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
4emLinha/hs_err_pid*

# Saves & Replays
4emLinha/saves/*
4emLinha/replays/*